version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: postgres-order-service
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 5432
      POSTGRES_DB: order_service
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
